
.home-container{
    margin-top: 12%;
    color: black; 
    width: 80%;
    background-color: oldlace;
    border-radius: 23px;
    border: 1px solid grey;
}
.content{
    margin: 68px 0px;
    border: 1px solid grey;
    padding: 12px;
    border-radius: 23px;
}
.icon{
    margin: 6% auto;
    font-size:2.3rem;
    justify-content:center;
    text-align:center;
    display:flex;
}
.icon i{
    margin: 0% 15%;
    color:black;
    padding: 0px 21px;
    transition: all 0.4s ease-in-out;
}
.icon i:hover{
    transform: scale(1.4)
}
.boxes{
    border: 1px solid grey;
    border-radius: 21px;
}
.experience{
    padding: 34px;
}
.progress{
    margin: 12px 0px;
    height: 50px;
}
.progress-bar{
    background-color: #d35b4e;
}
@media (max-width: 780px){
    #box1 img{
        width: 200px;
        height: 200px;
    }
}
